/*
Name       :Khris Bragas
Class      :Comp 3612
Student ID :201660274
Professor  :Randy Connolly
Assignment :Project 1
Due Date   :October 8, 2021
File Name  :styles.css
Description:CSS source code for the styles implemented in, index.html,NovaScotia.html
            Santorini.html, and Amsterdam.html.
*/


a:hover{
    color: #8662c7;
}
.indexheader a:hover{
    color: #8662c7;
}
.imageheader a:hover{
    color: #8662c7;
}
.indexheader{
    display: block;
    text-align: left;
    background-image: url("images/florence.jpg");
    padding-bottom: 19rem;
    background-repeat: no-repeat;
    
}
.imageheader{
    display: block;
    text-align: left;
}

.imageheader h1{
    display: inline;
    text-align: left;
    padding: 10px;
    color: #51279b;
    font-size: 24px;
    font-family: Arial;

}

.imageheader h1 a{
    color: #51279b;
    text-decoration: none;
    
}
 body{
     margin: 0px;
     padding: 0px;
  
} 

.indexheader h1{
    display: inline;
    text-align: left;
    padding: 10px;
    color: #51279b;
    font-size: 24px;
    height: 110px;
    padding-bottom: 2rem;
    font-family: Arial;
    
}
.indexheader h1 a{
    color: #51279b;
    text-decoration: none;
    
}
.indexheader h2{
    padding-left: 80px;
    font-size: 48px;
    font-style: bold;
    color: white;
    text-transform: capitalize;
    font-family: Arial;
}
.indexheader h3{
    font-size: 24px;
    color: white;
    padding-left: 80px;
    font-family: Arial;
}

.indexheader h4{
    padding: 50px;
    padding-top: 0rem;
    text-transform: uppercase;
    font-family: Arial;
     
}

.indexheader h4 a{
    font-size: 14px;
    color: white;
    text-decoration: none;
    background-color: #51279b;
    padding: 1rem;
    margin-left: 35px;
}

.cRow{
    text-align: center;
}

.card{
    display: inline-block;
    padding: 2em;
    width: auto;
    height: auto;
    padding-top: 0em;


}

.card h1{
    font-size: 14px;
}
 .card p{
     font-size: 12px;
 }

 footer{
     background-color: lavender;
 }

 .card{
     text-align: left;
 }

 .likecomment{
     display: inline-block;
     font-size: 10px;

 }

 .largeImageBio{
     text-align: center;
     font-family: Arial;
 }

.flower{
    margin-left: 7em;
    margin-right: 7em;
}

.lh{
    width: 15px;
    height: 15px;
}

.mapImg{
    text-align: center;
}